#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.container-main {
  width: 600px;
}

.filter {
  background-color: transparent;
  font-weight: normal;
  color: rgb(157, 157, 185);
}

.completed {
  background-color: gray;
  color: black;
}
